<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="most-top-bar container-fluid bg-color-dark-blue">
        <div class="container d-flex align-items-center justify-content-between" style="height: 32px">
            <div class="d-flex">
                @Html.ActionLink("Портал на МВР", "Index", "Home", null, new { @class = "color-yellow" })
                <div class="ms-5">
                    <a href="https://www.government.bg/">government.bg</a> |
                    <a href="https://www.government.bg/cgi-bin/e-cms/vis/vis.pl?s=001&p=0024">Сектори</a>
                </div>
            </div>
            <div>
                @Html.ActionLink("Начална страница", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Карта на сайта", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Контакти", "Index", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Content/Images/Logo2.png" />
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <nav class="navbar yamm navbar-expand-lg navbar-light bg-color-light-blue">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (Session["username"] != null)
                    {
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Users", null, new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            МИНИСТЕРСТВОТО
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <div class="row navbar-dropdown-titles">
                                        <div class="col-md">
                                            ЗА МИНИСТЕРСТВОТО НА ВЪТРЕШНИТЕ РАБОТИ
                                        </div>
                                        <div class="col-md">
                                            ОСНОВНИ СТРУКТУРИ НА МВР
                                        </div>
                                        <div class="col-md">
                                            ПРОГРАМНИ ДОКУМЕНТИ, ОТЧЕТИ И АНАЛИЗИ
                                        </div>
                                        <div class="col-md">
                                            ПРОФИЛ НА КУПУВАЧА
                                        </div>
                                        <div class="col-md">
                                            ДОСТЪП ДО ИНФОРМАЦИЯ
                                        </div>
                                        <div class="col-md">
                                            АНТИКОРУПЦИЯ
                                        </div>
                                    </div>
                                    <div class="row navbar-dropdown-items">
                                        <div class="col-md">
                                            @Html.ActionLink("Ръководство", "Index", "Home")
                                            @Html.ActionLink("Министър на вътрешните работи", "Index", "Home")
                                            @Html.ActionLink("Политически кабинет", "Index", "Home")
                                            @Html.ActionLink("Структура и численост", "Index", "Home")
                                            @Html.ActionLink("Постъпване на работа в МВР - Конкурси", "Index", "Home")
                                            @Html.ActionLink("Стратегически документи", "Index", "Home")
                                            @Html.ActionLink("Съвети и комисии", "Index", "Home")
                                            @Html.ActionLink("Международно сътрудничество", "Index", "Home")
                                            @Html.ActionLink("Нормативна уредба", "Index", "Home")
                                            @Html.ActionLink("Етичен кодекс", "Index", "Home")
                                            @Html.ActionLink("Регистър на декларации по ЗПКОНПИ", "Index", "Home")
                                            @Html.ActionLink("Унироми и отличителни знаци", "Index", "Home")
                                            @Html.ActionLink("История на МВР", "Index", "Home")
                                            @Html.ActionLink("Музей на МВР", "Index", "Home")
                                            @Html.ActionLink("Полезно за Вас", "Index", "Home")
                                            @Html.ActionLink("Контакти", "Index", "Home")
                                        </div>
                                        <div class="col-md">
                                            @Html.ActionLink("Главна дирекция \"Национална полиция\"", "Index", "Home")
                                            @Html.ActionLink("Главна дирекция \"Борба с организираната престъпност\"", "Index", "Home")
                                            @Html.ActionLink("Главна дирекция \"Гранична полиция\"", "Index", "Home")
                                            @Html.ActionLink("Главна дирекция \"Пожарна безопасност и защита на населението\"", "Index", "Home")
                                            @Html.ActionLink("Главна дирекция \"Жандармерия, специални операции и борба с тероризма\"", "Index", "Home")
                                            @Html.ActionLink("Областни дирекции на МВР", "Index", "Home")
                                            @Html.ActionLink("Дирекции на МВР", "Index", "Home")
                                            @Html.ActionLink("Дирекции от общата и специализираната администрация", "Index", "Home")
                                            @Html.ActionLink("Академия на МВР", "Index", "Home")
                                            @Html.ActionLink("Медицински институт на МВР", "Index", "Home")
                                            @Html.ActionLink("Институт по психология на МВР", "Index", "Home")
                                            @Html.ActionLink("Национален институт по криминалистика", "Index", "Home")
                                        </div>
                                        <div class="col-md">
                                            @Html.ActionLink("Бюджет и финансови отчети", "Index", "Home")
                                            @Html.ActionLink("Програмни документи, отчети и анализи", "Index", "Home")
                                            @Html.ActionLink("Статистика", "Index", "Home")
                                        </div>
                                        <div class="col-md">
                                            @Html.ActionLink("Възложител Министъра на вътрешните работи или упълномощено от него длъжностно лице", "Index", "Home")
                                            @Html.ActionLink("Възложител Дирекция “Управление на собствеността и социални дейности”", "Index", "Home")
                                            @Html.ActionLink("Търгове", "Index", "Home")
                                            @Html.ActionLink("Профили на купувача с възложител ръководители на структури по чл.37 от ЗМВР", "Index", "Home")
                                            @Html.ActionLink("Дирекция \"Обществени поръчки\"", "Index", "Home")
                                        </div>
                                        <div class="col-md">
                                            @Html.ActionLink("Официални съобщения по чл. 61 от АПК", "Index", "Home")
                                            @Html.ActionLink("Други официални съобщения", "Index", "Home")
                                            @Html.ActionLink("Документи от служебни фондове на архива на МВР", "Index", "Home")
                                            @Html.ActionLink("Достъп до обществена информация", "Index", "Home")
                                            @Html.ActionLink("Търсене в документи", "Index", "Home")
                                            @Html.ActionLink("Вътрешни правила за реда и условията за сключване на договори за дарения, получаване и управление на дарения в МВР", "Index", "Home")
                                            @Html.ActionLink("Длъжностно лице по защита на личните данни", "Index", "Home")
                                        </div>
                                        <div class="col-md">
                                            @Html.ActionLink("Сигнали за корупция в МВР", "Index", "Home")
                                            @Html.ActionLink("Вътрешноведомствен координационен съвет за борба с корупцията", "Index", "Home")
                                            @Html.ActionLink("КОНЦЕПЦИЯ за превенция и противодействие на корупцията в МВР 2016-2020 г.", "Index", "Home")
                                            @Html.ActionLink("Антикорупция", "Index", "Home")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ОБЩЕСТВЕН РЕД И СИГУРНОСТ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            АДМИНИСТРАТИВНО ОБСЛУЖВАНЕ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ПРЕСЦЕНТЪР
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            БРЕКЗИТ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Въведете дума или израз" aria-label="Search" />
                    <button class="btn btn-primary search-button" type="submit">ТЪРСИ В МВР</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid color-dblue">
            <div class="container py-4">
                <div class="row">
                    <div class="col">
                        <b>ОБЛАСТНИ ДИРЕКЦИИ НА МИНИСТЕРСТВОТО НА ВЪТРЕШНИТЕ РАБОТИ</b> <br />
                        <div class="btn btn-primary">ВИЖ НА КАРТАТА</div><br />
                        Други страници на МВР
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Столична дирекция на вътрешните работи
                            </li>
                            <li>
                                Пътна полиция
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Благоевград
                            </li>
                            <li>
                                Бургас
                            </li>
                            <li>
                                Варна
                            </li>
                            <li>
                                Велико Търново
                            </li>
                            <li>
                                Видин
                            </li>
                            <li>
                                Враца
                            </li>
                            <li>
                                Габрово
                            </li>
                            <li>
                                Добрич
                            </li>
                            <li>
                                Кърджали
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Кюстендил
                            </li>
                            <li>
                                Ловеч
                            </li>
                            <li>
                                Монтана
                            </li>
                            <li>
                                Пазарджик
                            </li>
                            <li>
                                Перник
                            </li>
                            <li>
                                Плевен
                            </li>
                            <li>
                                Пловдив
                            </li>
                            <li>
                                Разград
                            </li>
                            <li>
                                Русе
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Силистра
                            </li>
                            <li>
                                Сливен
                            </li>
                            <li>
                                Смолян
                            </li>
                            <li>
                                София
                            </li>
                            <li>
                                Стара Загора
                            </li>
                            <li>
                                Търговище
                            </li>
                            <li>
                                Хасково
                            </li>
                            <li>
                                Шумен
                            </li>
                            <li>
                                Ямбол
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="~/Content/Images/mvr-map.png"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid bg-color-light-blue">
            <div class="container py-4">
                <div class="row">
                    <div class="col-3">
                        <div class="container>">
                            <div class="row">
                                <div class="col">
                                    <img src="~/Content/Images/lion-black1.png" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <img src="~/Content/Images/logo-mvr1.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="container>">
                            <div class="row upper-footer">
                                <div class="col">
                                    <b>МИНИСТЕРСТВО НА ВЪТРЕШНИТЕ РАБОТИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    тел. 02 9825 000 -тел.централа
                                </div>
                                <div class="col">
                                    <b>ПРЕСЦЕНТЪР</b>
                                    <br />
                                    ул. „Ген. Йосиф В. Гурко“ 23, София 1000
                                    тел. 02 9823 754, факс: 02 9877 967
                                </div>
                                <div class="col">
                                    <b>ПРИЕМНА ЗА ГРАЖДАНИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    Приемно време
                                    10:00 - 12:00 ч. и 14:00 - 16:00 ч.
                                    За жалби, предложения и сигнали:
                                    тел. 02 9822 574, priemna@mvr.bg
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-color-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col color-white">
                        Министерство на вътрешните работи © 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 color-grey">
                        Условия за ползване
                    </div>
                    <div class="col-3 color-grey">
                        Политика за конфиденциалност
                    </div>
                    <div class="col-3 color-grey">
                        Политика за ползване на бисквитки
                    </div>
                    <div class="col-2 color-grey">
                        Декларация за достъпност
                    </div>
                </div>
                <div class="row py-5 text-end">
                    <div class="col-4 color-grey">
                        МИНИСТЕРСТВОТО
                    </div>
                    <div class="col-3 color-grey">
                        АДМИНИСТРАТИВНИ УСЛУГИ
                    </div>
                    <div class="col-2 color-grey">
                        ПРЕСЦЕНТЪР
                    </div>
                    <div class="col-3 color-grey">
                        СИГНАЛИ ЗА КОРУПЦИЯ
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
