<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="most-top-bar container-fluid bg-color-dark-blue">
        <div class="container d-flex align-items-center justify-content-between" style="height: 32px">
            <div class="d-flex">
                @Html.ActionLink("Портал на МВР", "Index", "Home", null, new { @class = "color-yellow" })
                <div class="ms-5">
                    <a href="https://www.government.bg/">government.bg</a> |
                    <a href="https://www.government.bg/cgi-bin/e-cms/vis/vis.pl?s=001&p=0024">Сектори</a>
                </div>
            </div>
            <div>
                @Html.ActionLink("Начална страница", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Карта на сайта", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Контакти", "Index", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Content/Images/Logo2.png" />
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid color-dblue">
            <div class="container py-4">
                <div class="row">
                    <div class="col">
                        <b>ОБЛАСТНИ ДИРЕКЦИИ НА МИНИСТЕРСТВОТО НА ВЪТРЕШНИТЕ РАБОТИ</b> <br />
                        <div class="btn btn-primary">ВИЖ НА КАРТАТА</div><br />
                        Други страници на МВР
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Столична дирекция на вътрешните работи
                            </li>
                            <li>
                                Пътна полиция
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Благоевград
                            </li>
                            <li>
                                Бургас
                            </li>
                            <li>
                                Варна
                            </li>
                            <li>
                                Велико Търново
                            </li>
                            <li>
                                Видин
                            </li>
                            <li>
                                Враца
                            </li>
                            <li>
                                Габрово
                            </li>
                            <li>
                                Добрич
                            </li>
                            <li>
                                Кърджали
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Кюстендил
                            </li>
                            <li>
                                Ловеч
                            </li>
                            <li>
                                Монтана
                            </li>
                            <li>
                                Пазарджик
                            </li>
                            <li>
                                Перник
                            </li>
                            <li>
                                Плевен
                            </li>
                            <li>
                                Пловдив
                            </li>
                            <li>
                                Разград
                            </li>
                            <li>
                                Русе
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="decorator-arrow">
                            <li>
                                Силистра
                            </li>
                            <li>
                                Сливен
                            </li>
                            <li>
                                Смолян
                            </li>
                            <li>
                                София
                            </li>
                            <li>
                                Стара Загора
                            </li>
                            <li>
                                Търговище
                            </li>
                            <li>
                                Хасково
                            </li>
                            <li>
                                Шумен
                            </li>
                            <li>
                                Ямбол
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="~/Content/Images/mvr-map.png" />
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid bg-color-light-blue">
            <div class="container py-4">
                <div class="row">
                    <div class="col-3">
                        <div class="container>">
                            <div class="row">
                                <div class="col">
                                    <img src="~/Content/Images/lion-black1.png" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <img src="~/Content/Images/logo-mvr1.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="container>">
                            <div class="row upper-footer">
                                <div class="col">
                                    <b>МИНИСТЕРСТВО НА ВЪТРЕШНИТЕ РАБОТИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    тел. 02 9825 000 -тел.централа
                                </div>
                                <div class="col">
                                    <b>ПРЕСЦЕНТЪР</b>
                                    <br />
                                    ул. „Ген. Йосиф В. Гурко“ 23, София 1000
                                    тел. 02 9823 754, факс: 02 9877 967
                                </div>
                                <div class="col">
                                    <b>ПРИЕМНА ЗА ГРАЖДАНИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    Приемно време
                                    10:00 - 12:00 ч. и 14:00 - 16:00 ч.
                                    За жалби, предложения и сигнали:
                                    тел. 02 9822 574, priemna@mvr.bg
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-color-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col color-white">
                        Министерство на вътрешните работи © 2021
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 color-grey">
                        Условия за ползване
                    </div>
                    <div class="col-3 color-grey">
                        Политика за конфиденциалност
                    </div>
                    <div class="col-3 color-grey">
                        Политика за ползване на бисквитки
                    </div>
                    <div class="col-2 color-grey">
                        Декларация за достъпност
                    </div>
                </div>
                <div class="row py-5 text-end">
                    <div class="col-4 color-grey">
                        МИНИСТЕРСТВОТО
                    </div>
                    <div class="col-3 color-grey">
                        АДМИНИСТРАТИВНИ УСЛУГИ
                    </div>
                    <div class="col-2 color-grey">
                        ПРЕСЦЕНТЪР
                    </div>
                    <div class="col-3 color-grey">
                        СИГНАЛИ ЗА КОРУПЦИЯ
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
