<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="most-top-bar container-fluid bg-color-dark-blue">
        <div class="container d-flex align-items-center justify-content-between" style="height: 32px">
            <div class="d-flex">
                @Html.ActionLink("Портал на МВР", "Index", "Home", null, new { @class = "color-yellow" })
                <div class="ms-5">
                    <a href="https://www.government.bg/">government.bg</a> |
                    <a href="https://www.government.bg/cgi-bin/e-cms/vis/vis.pl?s=001&p=0024">Сектори</a>
                </div>
            </div>
            <div>
                @Html.ActionLink("Начална страница", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Карта на сайта", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Контакти", "Index", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Content/Images/Logo2.png" />
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <nav class="navbar yamm navbar-expand-lg navbar-light bg-color-light-blue">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (Session["username"] != null)
                    {
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Users", null, new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            МИНИСТЕРСТВОТО
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <div class="row navbar-dropdown-titles">
                                        <div class="col-md">
                                            ЗА МИНИСТЕРСТВОРО НА ВЪТРЕШНИТЕ РАБОТИ
                                        </div>
                                        <div class="col-md">
                                            ОСНОВНИ СТРУКТУРИ НА МВР
                                        </div>
                                        <div class="col-md">
                                            ЗА МИНИСТЕРСТВОРО НА ВЪТРЕШНИТЕ РАБОТИ
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md navbar-dropdown-items">
                                            @Html.ActionLink("Home", "Index", "Home")<br>
                                            @Html.ActionLink("Home", "Index", "Home")<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                        </div>
                                        <div class="col-md">
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                            Ръководство<br>
                                        </div>
                                        <div class="col-md">
                                            Ръководство<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ОБЩЕСТВЕН РЕД И СИГУРНОСТ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            АДМИНИСТРАТИВНО ОБСЛУЖВАНЕ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ПРЕСЦЕНТЪР
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown yamm-fw">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            БРЕКЗИТ
                        </a>
                        <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="yamm-content">
                                <div class="container">
                                    <ul>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid bg-color-light-blue">
            <div class="container py-4">
                <div class="row">
                    <div class="col-3">
                        <div class="container>">
                            <div class="row">
                                <div class="col">
                                    <img src="~/Content/Images/lion-black1.png" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <img src="~/Content/Images/logo-mvr1.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="container>">
                            <div class="row upper-footer">
                                <div class="col">
                                    <b>МИНИСТЕРСТВО НА ВЪТРЕШНИТЕ РАБОТИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    тел. 02 9825 000 -тел.централа
                                </div>
                                <div class="col">
                                    <b>ПРЕСЦЕНТЪР</b>
                                    <br />
                                    ул. „Ген. Йосиф В. Гурко“ 23, София 1000
                                    тел. 02 9823 754, факс: 02 9877 967
                                </div>
                                <div class="col">
                                    <b>ПРИЕМНА ЗА ГРАЖДАНИ</b>
                                    <br />
                                    ул. „6-и септември“ 29, София 1000
                                    Приемно време
                                    10:00 - 12:00 ч. и 14:00 - 16:00 ч.
                                    За жалби, предложения и сигнали:
                                    тел. 02 9822 574, priemna@mvr.bg
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-color-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Министерство на вътрешните работи © 2021
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
