<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="most-top-bar container-fluid bg-color-dark-blue">
        <div class="container d-flex align-items-center justify-content-between" style="height: 32px">
            <div class="d-flex">
                @Html.ActionLink("Портал на МВР", "Index", "Home", null, new { @class = "color-highlight" })
                <div class="ms-5">
                    <a href="https://www.government.bg/">government.bg</a> |
                    <a href="https://www.government.bg/cgi-bin/e-cms/vis/vis.pl?s=001&p=0024">Сектори</a>
                </div>
            </div>
            <div>
                @Html.ActionLink("Начална страница", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Карта на сайта", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Контакти", "Index", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (Session["username"] != null)
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Users")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Content/Images/Logo2.png" />
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
    <div class="row">

        <nav class="navbar yamm navbar-expand-lg navbar-light" style="background-color:#C6D9F0">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-auto">
                            @if (Session["username"] != null)
                            {
                                <li>@Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "nav-link" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Login", "Login", "Users", null, new { @class = "nav-link" })</li>
                            }
                         </li>
                            <li class="nav-item dropdown yamm-fw">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    МИНИСТЕРСТВОТО
                                </a>
                                <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="yamm-content">
                                        <ul>
                                            <div class="container">
                                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </li>
                             <li class="nav-item dropdown yamm-fw">
                                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                     ОБЩЕСТВЕН РЕД И СИГУРНОСТ
                                 </a>
                                <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="yamm-content">
                                        <ul>
                                            <div class="container">
                                            <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item dropdown yamm-fw">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    АДМИНИСТРАТИВНО ОБСЛУЖВАНЕ
                                </a>
                                <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="yamm-content">
                                        <ul>
                                            <div class="container">
                                            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item dropdown yamm-fw">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ПРЕСЦЕНТЪР
                                </a>
                                <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="yamm-content">
                                        <ul>
                                            <div class="container">
                                            <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item dropdown yamm-fw">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    БРЕКЗИТ
                                </a>
                                <ul class="full-width dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="yamm-content">
                                        <ul>
                                            <div class="container">
                                            <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
       
</div>




            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
    </body>
</html>
