<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="most-top-bar container-fluid bg-color-dark-blue">
        <div class="container d-flex align-items-center justify-content-between" style="height: 32px">
            <div class="d-flex">
                @Html.ActionLink("Портал на МВР", "Index", "Home", null, new { @class = "color-yellow" })
                <div class="ms-5">
                    <a href="https://www.government.bg/">government.bg</a> |
                    <a href="https://www.government.bg/cgi-bin/e-cms/vis/vis.pl?s=001&p=0024">Сектори</a>
                </div>
            </div>
            <div>
                @Html.ActionLink("Начална страница", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Карта на сайта", "Index", "Home", null, new { @class = "" }) |
                @Html.ActionLink("Контакти", "Index", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>

    <div class="container-fluid header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/Logo2.png" />
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Navbar")

    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mvr-bundle")
    @RenderSection("scripts", required: false)
</body>
</html>
