<div class="accordion accordion-flush vertical-nav">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ЗА МИНИСТЕРСТВОТО НА ВЪТРЕШНИТЕ РАБОТИ
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Ръководство", "Guide", "Home")
                @Html.ActionLink("Министър на вътрешните работи", "BoikoRashkov", "Home")
                @Html.ActionLink("Политически кабинет", "PoliticalCabinet", "Home")
                @Html.ActionLink("Структура и численост", "Index", "Home")
                @Html.ActionLink("Постъпване на работа в МВР - Конкурси", "Index", "Home")
                @Html.ActionLink("Стратегически документи", "Index", "Home")
                @Html.ActionLink("Съвети и комисии", "CouncilsAndCommissions", "Home")
                @Html.ActionLink("Международно сътрудничество", "International", "Home")
                @Html.ActionLink("Нормативна уредба", "NormativeActs", "Home")
                @Html.ActionLink("Етичен кодекс", "Index", "Home")
                @Html.ActionLink("Регистър на декларации по ЗПКОНПИ", "RegisterZPKONPI", "Home")
                @Html.ActionLink("Унироми и отличителни знаци", "Uniforms", "Home")
                @Html.ActionLink("История на МВР", "History", "Home")
                @Html.ActionLink("Музей на МВР", "Museum", "Home")
                @Html.ActionLink("Полезно за Вас", "UsefulForYou", "Home")
                @Html.ActionLink("Контакти", "Contacts", "Home")
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ОСНОВНИ СТРУКТУРИ НА МВР
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Главна дирекция \"Национална полиция\"", "Index", "Home")
                @Html.ActionLink("Главна дирекция \"Борба с организираната престъпност\"", "Index", "Home")
                @Html.ActionLink("Главна дирекция \"Гранична полиция\"", "Index", "Home")
                @Html.ActionLink("Главна дирекция \"Пожарна безопасност и защита на населението\"", "Index", "Home")
                @Html.ActionLink("Главна дирекция \"Жандармерия, специални операции и борба с тероризма\"", "Index", "Home")
                @Html.ActionLink("Областни дирекции на МВР", "Index", "Home")
                @Html.ActionLink("Дирекции на МВР", "Index", "Home")
                @Html.ActionLink("Дирекции от общата и специализираната администрация", "Index", "Home")
                @Html.ActionLink("Академия на МВР", "Index", "Home")
                @Html.ActionLink("Медицински институт на МВР", "Index", "Home")
                @Html.ActionLink("Институт по психология на МВР", "Index", "Home")
                @Html.ActionLink("Национален институт по криминалистика", "Index", "Home")
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ПРОГРАМНИ ДОКУМЕНТИ, ОТЧЕТИ И АНАЛИЗИ
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Бюджет и финансови отчети", "Index", "Home")
                @Html.ActionLink("Програмни документи, отчети и анализи", "Index", "Home")
                @Html.ActionLink("Статистика", "Index", "Home")
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ПРОФИЛ НА КУПУВАЧА
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Възложител Министъра на вътрешните работи или упълномощено от него длъжностно лице", "Index", "Home")
                @Html.ActionLink("Възложител Дирекция “Управление на собствеността и социални дейности”", "Index", "Home")
                @Html.ActionLink("Търгове", "Index", "Home")
                @Html.ActionLink("Профили на купувача с възложител ръководители на структури по чл.37 от ЗМВР", "Index", "Home")
                @Html.ActionLink("Дирекция \"Обществени поръчки\"", "Index", "Home")
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ДОСТЪП ДО ИНФОРМАЦИЯ
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Официални съобщения по чл. 61 от АПК", "Index", "Home")
                @Html.ActionLink("Други официални съобщения", "Index", "Home")
                @Html.ActionLink("Документи от служебни фондове на архива на МВР", "Index", "Home")
                @Html.ActionLink("Достъп до обществена информация", "Index", "Home")
                @Html.ActionLink("Търсене в документи", "Index", "Home")
                @Html.ActionLink("Вътрешни правила за реда и условията за сключване на договори за дарения, получаване и управление на дарения в МВР", "Index", "Home")
                @Html.ActionLink("Длъжностно лице по защита на личните данни", "Index", "Home")
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                АНТИКОРУПЦИЯ
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                @Html.ActionLink("Сигнали за корупция в МВР", "Coruption", "Home")
                @Html.ActionLink("Вътрешноведомствен координационен съвет за борба с корупцията", "Index", "Home")
                @Html.ActionLink("КОНЦЕПЦИЯ за превенция и противодействие на корупцията в МВР 2016-2020 г.", "Index", "Home")
                @Html.ActionLink("Антикорупция", "Index", "Home")
            </div>
        </div>
    </div>
</div>